
@import '../../../props' ;

.sections
{
	.container
	{
		._s
		{
			.c
			{
				.card
				{
					transition: all ease 0.3s;
					&:hover
					{
						transform: scale(1.03);
					}
				

					.card-body
					{
						.card-title
						{
							font-weight: 800;
							font-size: 20px ;
						}
					}
				}
			}
		}
	}
}
.card-text {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-line-clamp: 4;
	-moz-line-clamp: 4;
	-ms-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
  }
